
.pending-requests-container {
    padding: 20px;
  }
  
  .pending-requests-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .requests-list {
    display: grid;
    grid-gap: 20px;
  }
  
  .request-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
  
  .request-info {
    margin-bottom: 10px;
  }
  
  .no-requests {
    font-style: italic;
    color: #666;
  }
  

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h2, h3 {
  color: #333;
}

.property {
  margin-bottom: 10px;
}

.changes {
  margin-top: 20px;
}

.change {
  margin-bottom: 5px;
}

.old {
  color: rgb(0, 0, 0); 
}

.new {
  color: rgb(252, 44, 37);
}

.arrow {
  margin: 0 5px;
}


.apr-rej-btn-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3; 
}

.image-container {
  margin-top: 20px;
}

.product-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}
